# Byte-compiled / compiled Python files
__pycache__/
*.py[cod]

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Virtuelle Umgebungen (lokal erstellte Environments)
venv/
.env/

# Modelle und große Dateien (z. B. trainierte Gewichte)
models/
*.pt
*.pth

# Datenordner (falls die Roh- und verarbeiteten Daten sehr groß sind)
data/raw/
data/processed/

# System- und Editor-spezifische Dateien
.DS_Store
Thumbs.db
*.swp
